@import url(fonts.css);
@import url(footer.css);
.header {
  position: relative; }
  @media screen and (max-width: 991px) {
    .header {
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 999; } }
  .header .header-body {
    background-color: #fff;
    padding-bottom: 20px;
    position: relative;
    z-index: 2; }
  .header .header-logo {
    padding-top: 45px; }
    @media screen and (max-width: 991px) {
      .header .header-logo {
        display: none; } }
  .header .header-menu {
    padding-top: 55px;
    position: relative; }
    @media screen and (max-width: 991px) {
      .header .header-menu {
        padding-top: 20px; } }
    .header .header-menu a {
      color: #999;
      font-family: 'SitkaSmallBold', sans-serif;
      font-size: 19px;
      letter-spacing: -3px;
      margin: 0 10px;
      padding: 15px 0 5px;
      text-transform: uppercase;
      word-spacing: -8px; }
      @media screen and (max-width: 1199px) {
        .header .header-menu a {
          font-size: 15px; } }
    .header .header-menu li.active a {
      border-bottom: 4px solid #cc0000;
      color: #cc0000; }
    @media screen and (max-width: 991px) {
      .header .header-menu .navbar-collapse {
        margin-top: 80px;
        padding-bottom: 10px;
        text-align: center; }
      .header .header-menu button.navbar-toggle {
        width: 60px; }
      .header .header-menu .icon-bar {
        background-color: #cc0000;
        height: 3px;
        width: 100%; }
      .header .header-menu .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 8px; } }
    .header .header-menu .navbar-brand {
      display: inline-block;
      height: 60px;
      max-width: 300px;
      text-align: left;
      width: 100%; }
      @media screen and (min-width: 992px) {
        .header .header-menu .navbar-brand {
          display: none; } }
      @media screen and (max-width: 767px) {
        .header .header-menu .navbar-brand {
          max-width: 200px; } }
      @media screen and (max-width: 400px) {
        .header .header-menu .navbar-brand {
          max-width: 150px; } }
      @media screen and (max-width: 350px) {
        .header .header-menu .navbar-brand {
          max-width: 100px; } }
      .header .header-menu .navbar-brand img {
        height: 100%;
        object-fit: contain;
        object-position: left;
        width: 100%; }
  .header .header-follow {
    height: 50px;
    position: absolute;
    right: 0;
    top: 15px; }
    @media screen and (max-width: 991px) {
      .header .header-follow {
        display: none; } }
    .header .header-follow img {
      height: 37px; }
    .header .header-follow i, .header .header-follow img {
      display: inline-block;
      vertical-align: top; }
    .header .header-follow a {
      color: #cc0000;
      font-size: 30px;
      padding: 0; }
  .header .nav > li > a:hover, .header .nav > li > a:focus {
    background-color: transparent;
    color: #cc0000; }

nav.navbar {
  border: none;
  margin-bottom: 0; }

@media (max-width: 992px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.header.header-index .header-body {
  background-color: #c31915;
  height: 100%; }
.header.header-index .header-border {
  border: 25px solid transparent;
  bottom: 0;
  -moz-border-image: url("../images/header-border.png") 0 0 25 round;
  -webkit-border-image: url("../images/header-border.png") 0 0 25 round;
  -o-border-image: url("../images/header-border.png") 0 0 25 round;
  border-image: url("../images/header-border.png") 0 0 25 round;
  border-image-outset: 0 0 5px 0;
  margin-left: -25px;
  position: absolute;
  width: calc(100vw + 50px); }
.header.header-index .header-menu a {
  color: #f8b7b6; }
.header.header-index .header-menu li.active a {
  border-bottom: 4px solid #fff;
  color: #fff; }
.header.header-index .nav > li > a:hover, .header.header-index .nav > li > a:focus {
  background-color: transparent;
  color: #fff; }
.header.header-index .header-follow a {
  color: #fff; }
@media screen and (max-width: 991px) {
  .header.header-index .icon-bar {
    background-color: #fff; } }

/*# sourceMappingURL=header.css.map */
